.Header {
  height: 3rem;
  background: var(--primary-contrast-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Starter {
    padding: 0 1rem;
    visibility: hidden;
    @media screen and (max-width: 700px) {
      visibility: visible;
    }
  }
  .Ender {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .Icon {
    color: var(--primary-contrast-icon);
  }
}
